<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-4 col-xl-4">
            <form class="mt-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="alert alert-danger text-center" *ngIf="isErrorOccurred">
                    <span>{{errorMessage}}</span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                    <div class="mt-1"
                        *ngIf="loginForm.controls?.['email']?.touched && loginForm.controls?.['email']?.invalid">
                        <span class="text-danger"
                            *ngIf="loginForm.controls?.['email']?.errors?.['required']">This field is
                            required
                        </span>
                        <span class="text-danger"
                            *ngIf="loginForm.controls?.['email']?.errors?.['pattern']">Invalid email address
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                    <div class="mt-1"
                        *ngIf="loginForm.controls?.['password']?.touched && loginForm.controls?.['password']?.invalid">
                        <span class="text-danger"
                            *ngIf="loginForm.controls?.['password']?.errors?.['required']">This field is
                            required
                        </span>
                        <span class="text-danger"
                            *ngIf="loginForm.controls?.['password']?.errors?.['pattern']">Invalid password
                        </span>
                    </div>
                </div>
                <div class="d-grid" *ngIf="!showSpinner">
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
                </div>
                <div class="text-center" *ngIf="showSpinner">
                    <span class="spinner-border text-primary spinner-border-sm"></span>
                    <span class="visually-hidden">Loading...</span>
                </div>
            </form>
            <div class="text-center mt-3">
                <span>Don't have an account? </span><a routerLink="/register">Register</a>
            </div>
        </div>
    </div>
</div>
